<div class="row">
  <fieldset class="small-12 columns">
    <legend><%= @question[:label] %></legend>
    <% for answer, index in @question[:answers] %><input id="<%= @name %>_<%= index %>" type="checkbox" name="<%= @name %>[]" value="<%= answer %>"><label for="<%= @name %>_<%= index %>"><%= answer %></label>
    <% end %>
  </fieldset>
</div>
